html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#canvasContainer{
  position: absolute; 
  z-index: -1;
  top: 0;
  left: 0;
  background-color: aqua;
  outline: 4px red solid;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBox{
  width: 500px;
  margin: auto;
  outline: green 1px dotted;

}
.spacer{
  width: 100%;
  height: 900px;
  background-color: blueviolet;
  opacity:0.1;
} 